/* google fonts*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans Thai", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
}
*::selection{
    background: var(--main-color);
    color: #fff;
}
:root{
    --main-color:#4990e1 ;
    --text-color: #1e1c2a ;
    --bg-color: #fff;

    --big-font:4rem;
    --h2-font: 2.24rem;
    --p-font: 0.9rem;
}
section{
    padding: 50px 10%;
}


body{
    color: var(--text-color);
    background: var(--bg-color);
}
#darkmode{
    font-size: 25px;
    cursor: pointer;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 18px 100px;
    box-shadow: 0 0.5rem rgba(0, 0, 0, 0.1);
}
.logo{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--main-color);
}

.navbar {
    display: flex;
}
.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}
.navbar a:hover {
    color: var(--main-color);
}
#menu-icon {
    font-size: 30px;
    cursor: pointer;
    display: none;
}
.หน้าหลัก{
    min-width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}
.หน้าหลัก-img img{
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.หน้าหลัก-text h1{
    font-size: var(--big-font);
    color: var(--main-color);
}
.หน้าหลัก-text h2{
    font-size: var(--h2-font);
    margin: 1rem 0 1rem;
}
.btn{
    display: inline-block;
    background: var(--main-color);
    padding: 10px 20px;
    border-radius: 0.5rem;
    color: #fff;
}
/*สีปุ่มวิวเมนู*/
.btn:hover{
    background: #fa70ce;
}
.heading{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;
    align-items: stretch;
    padding: 20px 0;
}
.box-img img{
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    object-fit: contain;
}
.heading{
    text-align: center;
}
.heading span{
    color: var(--main-color);
    font-weight: 500;
}
.heading h2{
    font-size: 19px;
}
.heading h3{
    font-weight: 400;
}
.menu-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
    align-items:center ;
    align-items: stretch;
    padding: 20px 0;
    justify-content: space-between;
}
.box{
    position: relative;
    margin-top: 2rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: 0.5rem;
    box-shadow: 0 2px 4px rgb(4, 64, 54 / 10%);
    padding: 10px;
}
.box-img{
    width: 250px;
    height: auto;
}
.box-img img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    object-fit: contain;
    object-position: center;
    
    
}
.box h2{
    font-size: 1.2rem;
}
.box h3{
    font-size: 1rem;
    font-weight: 100;
    margin: 4px 0 10px;
}
.box span{
    font-size: var(--p-font);
    font-weight: 500;
}
.box .bx{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    border-radius: 0 0.5rem 0 0.5rem;
    padding: 5px 8px;
}
.box .bx:hover{
    background: #ffa400;
}
.ผ้าอ้อมสำเร็จรูป {
    display: grid;
    gap: 20px;
    align-items: stretch;
    font-size: 13px;
    text-align: center;
    min-height: 40px;
}
.product-title {
    font-size: 14px;
    font-family: bold;
    text-align: center;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*นมผง*/
.heading{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;
    align-items: stretch;
    padding: 20px 0;
}
.box-img img{
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}
.heading{
    text-align: center;
}
.heading span{
    color: var(--main-color);
    font-weight: 500;
}
.heading h2{
    font-size: 19px;
}
.heading h3{
    font-weight: 400;
}
.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
    align-items:center ;
    align-items: stretch;
    padding: 20px 0;
    justify-content: space-between;
}
.box{
    position: relative;
    margin-top: 2rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: 0.5rem;
    box-shadow: 0 2px 4px rgb(4, 64, 54 / 10%);
    padding: 10px;
}
.box-img{
    width: 250px;
    height: auto;
}
.box-img img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    object-fit: contain;
    object-position: center;
    
    
}
.box h2{
    font-size: 1.2rem;
}
.box h3{
    font-size: 1rem;
    font-weight: 400;
    margin: 4px 0 10px;
}
.box span{
    font-size: var(--p-font);
    font-weight: 500;
}
.box .bx{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    border-radius: 0 0.5rem 0 0.5rem;
    padding: 5px 8px;
}
.box .bx:hover{
    background: #ffa400;
}
.services {
    display: grid;
    gap: 20px;
    align-items: stretch;
    font-size: 13px;
    text-align: center;
    min-height: 40px;
}
.product-title {
    font-size: 14px;
    font-family: bold;
    text-align: center;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ช่องทางการติดต่อ {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1.5rem;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
}

.ช่องทางการติดต่อ h3 {
    font-size: 18px;
    margin-bottom:1rem; 
}

.social i{
    font-size: 20px;
    margin-right: 1rem;
    color: var(--text-color);
}
.ช่องทางการติดต่อ-box li a{
    color: var(--text-color);
}
.ช่องทางการติดต่อ-box li a:hover{
    color: var(--main-color);
}
.copyright{
    padding: 20px;
    text-align: center;
}

@media (max-width:921px){
    header{
        padding: 14px 41px;
    }
    :root{
    --big-font:3rem;
    --h2-font: 1.7rem;
    }
}
@media (max-width: 768px) {
    section {
        padding: 50px 8%;
    }
    #menu-icon{
        display: block;
        color: var(--text-color);
    }
    header .navbar{
        position: absolute;
        top: -400px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: var(--bg-color);
        box-shadow: 0 4px 4px rgb(0, 0, 0 / 10%);
        transition: 0.2s ease;

    }
    .navbar.active{
        top: 100%;

    }
    .navbar a{
        padding: 1.5rem;
        display: block;
        background: var(--bg-color);
    }
    #darkmode{
        position: absolute;
        top: 1.4rem;
        right: 2rem;
    }
}
@media (max-width:715px){
    header{
        padding: 10px 16px;
    }
    .หน้าหลัก{
        grid-template-columns: 1fr;
    }
    .ผ้าอ้อมสำเร็จรูป{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .ผ้าอ้อมสำเร็จรูป-img{
        order: 2;
    }
}
@media (max-width:515px){
    .connect {
        flex-direction: column;
    }
    .connect .btn{
        margin-top: 1rem;
    }
}
@media (max-width:450px){
    :root {
    --big-font:2rem;
    --h2-font: 1.4rem;
    }
    .หน้าหลัก-text{
        padding-top: 4rem;
    }
}


